<cs-header>
    <p levels>Cars</p>
    <div content>
        <p>List of cars in service</p>
    </div>
</cs-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>deadline</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" class="row-car" (click)="goToCarDetail(car)"
                    cs-car-table-row [car]="car" (removedCar)="onRemovedCar(car)"
                    >
                    </tr>

                </tbody>
            </table>
            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Corrently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button (click)="showGross()" class="btn btn-primary btn-sm float-end">SHOW GROSS</button>
        </div>
    </div>
    <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>
    <div class="row" *ngIf="grossCost">
        <div class="col-sm-12">
            <div class="total-cost">
                <p class="text-end">TOTAL GROSS COST: {{ grossCost }} PLN</p>
            </div>
        </div>
    </div>
</div>
<p class="data-header">Add a new car</p>
<div class="data-container">
    <form [formGroup]="carForm">
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Model</label>
                <input  formControlName="model" type="text" class="form-control" placeholder="model">
                <p *ngIf="!carForm?.get('model').valid && carForm?.get('model').dirty" class="error">This field is required!</p>
            </div>
            <div class="col-sm-4">
                <label>Type</label>
                <input formControlName="type" type="text" class="form-control" placeholder="Type">
            </div>
            <div class="col-sm-4">
                <label>Plate</label>
                <input formControlName="plate" type="text" class="form-control" placeholder="Plate">
                <p *ngIf="!carForm?.get('plate').valid && carForm?.get('plate').dirty" class="error">This field is required and must contain 3-7 characters!</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Deliery date</label>
                <input  formControlName="deliveryDate" type="text" class="form-control" placeholder="Deliery date">
            </div>
            <div class="col-sm-4">
                <label>Deadline</label>
                <input  formControlName="deadline" type="text" class="form-control" placeholder="Deadline">
            </div>
            <div class="col-sm-4">
                <label>Color</label>
                <input  formControlName="color" type="text" class="form-control" placeholder="Color">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Power</label>
                <input  formControlName="power" type="number" class="form-control" placeholder="Power">
                <p *ngIf="carForm?.get('power').errors?.power && carForm?.get('power').dirty" class="error">Power must be between 50 and 800</p>
            </div>
            <div class="col-sm-4">
                <label>Cost</label>
                <input  formControlName="cost" type="text" class="form-control" placeholder="Cost">
            </div>
            <div class="col-sm-4">
                <label>Is car fullt damaged?</label>
                <input  formControlName="isFullyDamaged" type="checkbox" (change)="togglePlateValidity()">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Client First Name</label>
                <input  formControlName="clientFirstName" type="text" class="form-control" placeholder="Client First Name">
            </div>
            <div class="col-sm-4">
                <label>Client Last Name</label>
                <input  formControlName="clientSurname" type="text" class="form-control" placeholder="Client Last Name">
            </div>
            <div class="col-sm-4">
                <label>Year</label>
                <input  formControlName="year" type="text" class="form-control" placeholder="Year">
            </div>
         
        </div>

        <div formGroupName="parts" class="row form-group part-group">
            <div class="col-sm-4">
                <label>Part Name</label>
                <input  formControlName="name" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-sm-4">
                <label>Is part In Stock?</label>
                <input  formControlName="inStock" type="checkbox">
            </div>
            <div class="col-sm-4">
                <label>Price</label>
                <input  formControlName="price" type="text" class="form-control" placeholder="Price">
            </div>
         
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-end">Add car</button>
                <button (click)="carForm.reset()" type="submit" class="btn btn-warning float-end">Reset</button>
            </div>
        </div>
    </form>
    <pre>{{ carForm.value | json }}</pre>
    <!-- <pre> {{ carForm?.value | json }} </pre>
    <pre> Stan waliacji inputa model: {{ carForm?.get('model').valid | json }} </pre>
    <pre> Stan waliacji inputa plate: {{ carForm?.get('plate').valid | json }} </pre> -->
</div>